body {
    background-color: rgb(118, 177, 255);
}

.container {
    max-width: 80%;
    background-color: rgb(101, 173, 255);
    margin: auto;
    -webkit-box-shadow: 1px 0px 5px 4px rgb(7, 116, 189);
-moz-box-shadow: 1px 0px 5px 4px rgb(7, 116, 189);
box-shadow: 1px 0px 5px 4px rgb(7, 116, 189);
}

#DaysWeather {
    display: flex;
    background-color: rgba(56, 53, 53, 0.13);
    border:1px solid #000000f1;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
}

@media screen and (min-width: 600px){

    #icon {
        height: auto;
        display: block;
    }

    #tempNow {
        font-weight: 600;
        font-size: 80px;
    }
}

#liveWeather {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.celsius {
    font-size: 70px;
}


.buttonBox {
    text-align: center;
}

footer p {
    text-align: center;
}

.searchTown {
    text-align: center;
}

.container h1 {
    text-align: center;
}

#moreInfo {
    padding: 0;
    border: 1px solid black;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 5px;
}

#moreInfo:hover
 {
    padding: 0;
    border: 1px solid black;
    font: inherit;
    color: inherit;
    background-color: rgba(56, 53, 53, 0.30);
    cursor: pointer;
    -webkit-box-shadow: 1px 0px 5px 1px rgb(7, 116, 189);
-moz-box-shadow: 1px 0px 5px 1px rgb(7, 116, 189);
box-shadow: 1px 0px 5px 1px rgb(7, 116, 189);
}

#tempNow {
    font-weight: 600;
    font-size: 80px;
}
